@model Project.Models.ViewModels.ItemVM
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col">
       
            @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnComplete = "clearAll" }))
            {
                @Html.AntiForgeryToken();
                <h2 class=" text-center  alert alert-heading alert-primary ">Add new Jewellery</h2>
                <div class="row mb-2 alert alert-success">
                    @Html.LabelFor(x => x.ItemName, new { @class = "col-form-label col-form-label-sm col-2 r" })
                    <div class="col-6 ">
                        @Html.TextBoxFor(x => x.ItemName, new { @class = "form-control form-control-sm r" })
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.ItemName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2 alert alert-info">
                    @Html.LabelFor(x => x.CategoryId, new { @class = "col-form-label col-form-label-sm col-2 r" })
                    <div class="col-6 ">
                        @Html.DropDownListFor(x => x.CategoryId, ViewBag.categories as SelectList, "-------------Select  Category------------", new { @class = "form-control form-control-sm r" })
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2 alert alert-success">
                    @Html.LabelFor(x => x.Price, new { @class = "col-form-label col-form-label-sm col-2 r" })
                    <div class="col-6 ">
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control form-control-sm r" })
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2 alert alert-info">
                    @Html.LabelFor(x => x.StoreDate, new { @class = "col-form-label col-form-label-sm col-2 r" })
                    <div class="col-6 ">
                        @Html.TextBoxFor(x => x.StoreDate, new { @class = "form-control form-control-sm r", type = "date" })
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.StoreDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2 alert alert-success">
                    @Html.LabelFor(x => x.Picture, new { @class = "col-form-label col-form-label-sm col-2 r" })
                    <div class="col-6 ">
                        @Html.TextBoxFor(x => x.Picture, new { @class = "form-control form-control-sm r", type = "file" })
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.Picture, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-2">
                    @Html.LabelFor(x => x.Available, new { @class = "col-form-label col-form-label-sm col-2 r" })
                    <div class="col-6">
                        @Html.CheckBoxFor(x => x.Available)
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.Available, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-10 offset-2">
                        <button type="submit" class="btn btn-success btn-group-lg">Save</button>
                    </div>
                </div>
                <div class="row mb-1">
                    <div id="msg">
                    </div>
                </div>
            }
        
    </div>
    <div>
        <a href="@Url.Action("Index","Admin")" class="btn btn-link btn-group-lg"><i class="fa fa-arrow-left"></i> Back to list</a>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        $("#form0").attr("enctype","multipart/form-data")
        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>
}

